{% block content %}
  <form action="/links/add/" method="post">{% csrf_token %}
    <div class="form-group">
      <label for="id_subject">Id Movement</label>
      <input type="number" class="form-control" min="0" id="id_movement" name="idmovement">
    </div>
    <div class="form-group">
      <label for="id_message">Id Product</label>
	  <input type="number" class="form-control" min="0" id="id_product" name="idproduct">
    </div>
	<div class="form-group">
      <label for="id_message">Quantity</label>
	  <input type="number" class="form-control" min="0" id="quantity" name="quantity">
    </div>
	<div class="form-group">
      <label for="id_message">Id User Register</label>
	  <input type="number" class="form-control" min="0" id="id_user_register" name="iduserregister">
    </div>
	<div class="form-group">
      <label for="id_message">Register Date</label>
	  <input type="date" class="form-control" id="register_date" name="registerdate">
    </div>
    <button type="submit" class="btn btn-success">Send</button>
  </form>
{% endblock %}