{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap-theme.min.css' %}">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>CountFast - Welcome {#{ request.session.current_user_name }#}</h2>
        <hr>
        <div class="btn-group btn-group-lg">
            {#% if request.session.current_user_role == 'A' %#}
            <a class="btn btn-primary" href="{% url 'user_list' %}">Users</a>
            {#% endif %#}
            {#% if request.session.current_user_role == 'A' %#}
            <a class="btn btn-primary" href="">Suppliers</a>
            {#% endif %#}
            <a class="btn btn-primary" href="">Products</a>
            <a class="btn btn-primary" href="">Movements</a>
            <a class="btn btn-primary" href="">Defective Products</a>
        </div>
        <div class="btn-group btn-group-lg">
            <a class="btn btn-primary" href="/user/logout">Logout</a>
        </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

</body>
</html>