{% extends "storageManager/base.html" %}

{% block title %}{{ product.name }} - CountFast{% endblock %}

{% block content %}
    <div class="">
        {% if product.registration_date %}
            <div class="">
                {{ product.registration_date }}
            </div>
        {% endif %}
        <a href="{% url 'defective_product_edit' pk=defective_product.pk %}"><h1>{{ defective_product.product.name }}</h1></a>
        <p>{{ defective_product.quantity }}</p>
        <p>{{ defective_product.registration_date }}</p>
        <p>{{ defective_product.failed_description }}</p>

    </div>
{% endblock %}
