<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="post">
        {% if product.registration_date %}
            <div class="date">
                {{ product.registration_date }}
            </div>
        {% endif %}
        <a href="{% url 'product_edit' pk=product.pk %}"><h1>{{ product.name }}</h1></a>
        <p>{{ product.description }}</p>
        <p>{{ product.brand }}</p>
        <p>{{ product.current_amount }}</p>
        <p>{{ product.product_state|linebreaksbr }}</p>
    </div>
</body>
</html>