{% extends "storageManager/base.html" %}

{% block title %}Products - CountFast{% endblock %}

{% block content %}
    <h1><a href="{% url 'product_new' %}">New</a></h1>
    {% for product in products %}
        <div>
            <p>Fecha de registro: {{ product.registration_date }}</p>
            <h1><a href="{% url 'product_details' pk=product.pk %}">{{ product.name }}</a></h1>
            <p>{{ product.description}}</p>
            <p>{{ product.current_amount|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}

